certifi
data-science-types
googleapis-common-protos-stubs
grpc-stubs
pydantic<2.10
pylint-protobuf
pytest
pytest-asyncio
pytest-flakes
pytest-mypy
pytest-pylint
pytest-recording
tqdm
types-aiofiles
types-protobuf
types-tqdm
