certifi
data-science-types
mypy
psutil
pyarrow-stubs
pydantic<2.10
pylint-protobuf
pytest
pytest-asyncio
pytest-flakes
pytest-httpx
pytest-mock
pytest-mypy
pytest-pylint
pytest-recording
tqdm
types-aiofiles
types-grpcio
types-protobuf
types-protobuf
types-psutil
types-tqdm
