certifi
data-science-types
googleapis-common-protos-stubs
grpc-stubs
mypy!=1.17.0,!=1.17.1,!=1.18.0,!=1.18.1,!=1.18.2
psutil
pyarrow-stubs
pydantic<2.10
pylint-protobuf
pytest
pytest-asyncio
pytest-flakes
pytest-httpx
pytest-mock
pytest-mypy
pytest-pylint
pytest-recording
tqdm
types-aiofiles
types-protobuf
types-psutil
types-tqdm
