interactions:
- request:
    body: ''
    headers:
      openai-project:
      - b1ge6b3ojkeeciv997a8
      x-client-request-id:
      - 3d7d7c31-a6ce-4ca9-9be6-760dba9d2813
    method: GET
    uri: https://llm.api.cloud.yandex.net/v1/models
  response:
    body:
      string: '{"object":"list","data":[{"id":"emb://b1ge6b3ojkeeciv997a8/text-embeddings/latest@tamre4vupta1rql2em5su","object":"model","owned_by":"Yandex","created":0},{"id":"gpt://b1ge6b3ojkeeciv997a8/aliceai-llm/latest","object":"model","owned_by":"Yandex","created":0},{"id":"gpt://b1ge6b3ojkeeciv997a8/gpt-oss-120b/latest","object":"model","owned_by":"OpenAI","created":0},{"id":"gpt://b1ge6b3ojkeeciv997a8/gpt-oss-20b/latest","object":"model","owned_by":"OpenAI","created":0},{"id":"gpt://b1ge6b3ojkeeciv997a8/gemma-3-27b-it/latest","object":"model","owned_by":"Google","created":0},{"id":"gpt://b1ge6b3ojkeeciv997a8/qwen3-235b-a22b-fp8/latest","object":"model[...]
