interactions:
- request:
    body: '{"model":"emb://b1ghsjum2v37c2un8h64/text-search-doc/latest","input":["hello"]}'
    headers:
      content-type:
      - application/json
      x-client-request-id:
      - a8e1d21b-7716-4294-8f90-e348c037fa9e
    method: POST
    uri: https://llm.api.cloud.yandex.net/v1/embeddings
  response:
    body:
      string: '{"object":"list","model":"emb://b1ghsjum2v37c2un8h64/text-search-doc/latest","data":[{"index":0,"embedding":[0.0469970703125,0.017974853515625,-0.002056121826171875,-0.06561279296875,0.0311431884765625,0.05816650390625,0.003131866455078125,-0.1025390625,0.029205322265625,-0.091064453125,0.033599853515625,-0.05450439453125,-0.017913818359375,-0.0031833648681640625,-0.0181427001953125,0.055938720703125,0.07611083984375,-0.013458251953125,0.00762176513671875,-0.05999755859375,0.0723876953125,-0.05584716796875,-0.0227203369140625,-0.0164947509765625,0.0478515625,0.020843505859375,-0.03411865234375,0.01329[...]
